.btn{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
.btn:active{
  filter: brightness(0.4);
}
.labResetBtn{
  background-color: rgba(128, 128, 128, 0.979);
  color: #fff;
}
.stopBtn{
  background-color: rgba(174, 34, 34, 0.76);
  color: rgba(255,255,255,0.8);
}
.startBtn{
  background-color: green;
  color:  rgba(255,255,255,0.8);
}
.btn-container{
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}
.lap-list-container{
  margin-left: 20px;
  margin-right: 20px;
}
.lap-list-item{
  display: flex;
  justify-content: space-between;
}

.line{
  border-color: rgba(255,255,255,0.3)
}

/* Scroll Bar */
/* CSS to hide the vertical scrollbar arrows */
.lap-list {
  scrollbar-width: thin; /* Firefox and newer Edge */
}
.lap-list::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar track */
}
.lap-list::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners for the thumb */
  height: 4px; /* Height of the scrollbar thumb */
}